* {
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(31, 29, 41);
}

.main_container {
  background-image: url(./images/bg-stars.svg);
}

h1 {
  color: #fff;
  text-align: center;
  font-family: "Red Hat Text";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.5px;
  text-transform: uppercase;
}
