* {
  font-family: "Red Hat Text", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(31, 29, 41);
  background: linear-gradient(
    180deg,
    #1d1e28 0.12%,
    #261c2d 94.84%,
    #261a2d 100%
  );
  height: 100vh;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    #1d1e28 0.12%,
    #261c2d 94.84%,
    #261a2d 100%
  );
}

.main_container {
  flex: 1;
  margin-top: 132px;
  background-image: url(./images/bg-stars.svg);
  width: 100%;
}

h1 {
  color: #fff;
  text-align: center;

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.5px;
  text-transform: uppercase;
}

.main_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 104px;
}

.DAYS,
.HOURS,
.MINUTES,
.SECONDS {
  background: #343650;
  width: 148px;
  height: 150px;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px -8px 0px 0px #191a23 inset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.DAYS h2,
.HOURS h2,
.MINUTES h2,
.SECONDS h2 {
  color: #fb5e84;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 71px; /* 88.75% */
  letter-spacing: -2.4px;
}
.DAYS h3,
.HOURS h3,
.MINUTES h3,
.SECONDS h3 {
  color: #8385a9;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.919px;
}

hr {
  width: 148px;
  height: 1px;
  opacity: 0.253;
  border-color: #000;
}

.main_div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

div h3 {
  position: absolute;
  margin-top: 200px;
}

.main_footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/pattern-hills.svg);
  width: 100%;
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.main_footer svg {
  cursor: pointer;
  margin-top: 80px;
  z-index: 1;
}
.main_footer svg path:hover {
  fill: #fb5e84;
}

/* FIXME: svg hoveri ar mushaobs ! */

@media only screen and (max-width: 768px) {
  h1 {
    width: 327px;
    font-size: 18px;
  }
  .DAYS,
  .HOURS,
  .MINUTES,
  .SECONDS {
    width: 70px;
    height: 71px;
  }

  .DAYS h2,
  .HOURS h2,
  .MINUTES h2,
  .SECONDS h2 {
    font-size: 36px;
  }
  .DAYS h3,
  .HOURS h3,
  .MINUTES h3,
  .SECONDS h3 {
    font-size: 7px;
  }
  hr {
    width: 70px;
    height: 0.473px;
  }
  div h3 {
    margin-top: 100px;
  }
  .main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main_footer svg {
    margin-top: 150px;
  }
}
@media screen and (min-width: 400px) and (max-width: 430px) {
  .main_footer svg {
    margin-top: 10px;
  }
}
